certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
npyscreen==4.10.5
numpy==2.2.2
pandas==2.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
setuptools==75.8.0
six==1.17.0
ta-lib==0.6.1
termcolor==2.5.0
tzdata==2025.1
urllib3==2.3.0
pygame
matplotlib